/* Base HTML */
.header-banner {
  background-image: linear-gradient(black, white);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
.footer-banner {
  background-image: linear-gradient(white, gray);
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}
#banner-logo {
  font-size: 4em;
  font-weight: bolder;
  color: red;
  text-shadow: 4px 4px rgb(0 0 0 / 50%);
}
.banner-quote {
  color: white;
}
#banner-quote {
  font-size: 2em;
  font-family: cursive ;
}
#banner-instructor {
  font-size: 1em;
  font: arial;
}
.unfollow-user {
  border: none;
  background-color: white;
}
.content-box {
  border: 1px solid black;
  padding: 15px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.content-box-nb {
  padding: 5px;
  margin: 5px;
}
.find-friends {
  padding: 20px;
  margin: 20px;
}
.follow-box {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
.metrics-box {
  border: 1px solid black;
  padding:10px;
  margin: 10px;
}
#schedule-parent-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fc-list-event-time {
  display: none;
}
.modal-body {
  text-align: center;
}
.btn-sm {
  margin: .125rem;
}
.modal-up {
  border-color: white;
  font-size: 1rem;
}
.modal-down {
  border-color: white;
  font-size: 1rem;
}
.fc-h-event .fc-event-title {
  font-size: 11px;
}