/* Base HTML: Header and Nav Bar */
.header-banner {
  background-image: linear-gradient(black, gray);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
/* .footer-banner {
  background-image: linear-gradient(white, black);
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
} */
#banner-logo {
  font-family: Bowlby One SC, Impact;
  /* font-family: Sigmar One, Impact; */
  font-size: 4em;
  font-weight: bolder;
  color: rgb(255, 51, 71);
  text-shadow: 4px 4px rgb(0 0 0 / 50%);
}
.banner-quote {
  color: white;
}
#banner-quote {
  font-size: 2em;
  font-family: Permanent Marker, cursive ;
}
#banner-instructor {
  font-size: 1em;
  font: arial;
}
.nav-bar {
  background-color: gray;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: white;
}
.nav-tabs {
  border-bottom: 0;
}
.container {
  box-shadow: 0 10px 16px 0 rgb(255 51 71 / 20%), 0 6px 20px 0 rgb(255 51 71 / 19%);  
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
}
/* .flash-msg {
  display: none;
} */
/* Login Pages */
.login-box {
  border: 1px solid black;
  padding: 15px 30px 0 30px;
  margin: 25px 25px 60px 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  min-width: 366px;
}
.login-header {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid gray;
}
.login-submit {
  padding-top: 15px;
  margin-top: 10px;
  border-top: 0.5px solid gray;
}
.peloton-blurb {
  text-align: left;
  font-size: 14px;
}
.rb {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
}
.rb:hover {
  background-color: firebrick;
  border: 1px solid firebrick;
}
.demo-video {
  color: gray;
}
.demo-video a {
  color: red;
}
/* PeloPlan Calendar & Modals */
.fc-list-event-time {
  display: none;
}
.fc-h-event .fc-event-title {
  font-size: 11px;
}
.calendar-container {
  padding-top: 10px;
  justify-content: center;
  height: calc(100vh - 190px);
}
#calendar a {
  color: gray;
}
#calendar .fc-button-primary {
  background-color: dimgray;
  border: 1px solid dimgray;
}
#calendar .fc-button-primary:hover {
  background-color: rgb(48,48,48);
  border: 1px solid rgb(48,48,48);
}
.modal-body {
  text-align: center;
}
.btn-sm {
  margin: .125rem;
}
.modal-up {
  border-color: white;
  font-size: 1rem;
}
.modal-down {
  border-color: white;
  font-size: 1rem;
}
/* Workout Filter Page */
.outer-scroll {
  height: calc(100vh - 190px);
  overflow-y: scroll;
}
.filter-bar {
  padding-left: 0;
  padding-right: 0;
}
#filters-box {
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  padding-bottom: 15px;
  margin-top: 25px;
}
#filters-box select {
  width: 150px;
}
.workout-filters {
  padding-top: 10px;
}
.workout-box {
  border: 1px solid black;
  padding: 15px;
  margin: 25px 0px 25px 10px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  align-items: center;
}
.workout-image {
  position: relative;
  text-align: center;
  color: white;
  font-size: 28px;
}
.workout-icon{
  position: absolute;
  top: 2px;
  left: 28px;
}
.workout-details {
  text-align: left;
  min-height: 180px;
}
.workout-header {
  border-bottom: .5px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#workout-title {
  font-size: 22px;
  font-weight: 600;
}
#workout-inst {
  font-size: 16px;
  font-weight: 300;
  color:gray;
}
#workout-desc {
  font-weight: 300;
}
.workout-stats {
  border: .5px solid black;
  border-radius: 5px;
  /* padding: 5px; */
  /* margin: 10px */
}
.workout-stat {
  color: red;
  font-size: 16px;
}
.workout-text {
  font-size: 14px;
  font-weight: 100; 
}
.workout-text-sm {
  font-size: 11px;
  font-weight: 100;
}
.add-workout {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 24px;
}
.add-workout:hover {
  color: red;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 24px;
}
.change-page {
  border-radius: 5px;
  margin: 10px;
}
/* Profile Page */
.content-box {
  border: 1px solid black;
  padding: 30px 30px 0 30px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.content-box-nb {
  padding: 5px;
  margin: 5px;
  justify-content: center;
}
.profile-header {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid gray;
}
.profile-submit {
  padding-top: 15px;
  margin-top: 10px;
  border-top: 0.5px solid gray;
  justify-content: center;
}
.profile-submit button {
  margin-bottom: 20px;
}
#full-sync-blurb {
  font-size: 15px;
}
.sync-submit {
  padding-top: 15px;
  margin-top: 1px;
  border-top: 0.5px solid gray;
  justify-content: center;
}
.sync-submit button {
  border-radius: 5px;
  margin-bottom: 20px;
}
.follower-box {
  justify-content: center;
}
.find-friends {
  padding: 20px;
  margin: 20px;
}
.follow-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-align: left;
}
.unfollow-user {
  border: none;
  background-color: white;
}
.friends-submit {
  padding-top: 15px;
  margin-top: 10px;
  border-top: 0.5px solid gray;
  justify-content: center;
}
.friends-submit button {
  border-radius: 5px;
  margin-bottom: 20px;
}
.modal-friends-submit button {
  border-radius: 5px;
  margin-bottom: 20px;
}
.modal-friend {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Metrics Pages */
.metrics-box {
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  margin: 0 0 20px 0;
}
.chart-title {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.output-title {
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
#graph-outputs {
  padding: 20px;
}
.pie-chart-container {
  padding-top: 10px;
  justify-content: center;
  height: calc(100vh - 380px);
}
.output-chart-container {
  padding-top: 10px;
  justify-content: center;
  height: calc(100vh - 290px);
}
/* Schedules Pages */
.schedules-title {
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
#schedule-parent-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.sched-title {
  margin-bottom: 0;
}
.sched-desc {
  margin-top: 10px;
  min-height: 50px;
}
.sched-creator {
  font-size: 12px;
  font-weight: 200;
}
.my-sched-button-box {
  position: absolute;
  bottom: 0px;
  left: 35%
}
.sched-button-box {
  position: absolute;
  bottom: 0px;
  left: 25%
}
.schedule-box.classes {
  border: .5px solid green;
  padding: 0px 15px 0px 15px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  position: relative;
}
.schedule-box.template {
  border: .5px solid goldenrod;
  padding: 0px 15px 0px 15px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  position: relative;
}
#sched-type-classes {
  background-color: green;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
#sched-type-template {
  background-color: goldenrod;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.sched-buttons-classes {
  background-color: green;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-variant: all-small-caps;
}
.sched-buttons-template {
  background-color: goldenrod;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-variant: all-small-caps;
}
.sched-buttons-classes button{
  background-color: green;
  color: white;
  border: none;
}
.sched-buttons-classes button:hover{
  background-color: darkgreen;
  color: white;
  border: none;
}
.sched-buttons-template button{
  background-color: goldenrod;
  color: white;
  border: none;
}
.sched-buttons-template button:hover{
  background-color: darkgoldenrod;
  color: white;
  border: none;
}
.sched-details-classes {
  color: green;
  font-variant: bold;
}
.sched-details-template {
  color: goldenrod;
  font-variant: bold;
}
.sched-content {
  margin-top: 10px;
  text-align: left;
}
.sched-details {
  text-align: center;
  align-content: center;
  border-left: .25px solid gray
}
.sched-details-sm {
  font-size: 12px;
  font-weight: 200;
  color: black;
  text-align: center;
}