/* Base HTML */
.header-banner {
  background-image: linear-gradient(black, gray);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
.footer-banner {
  /* background-image: linear-gradient(white, black); */
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}
#banner-logo {
  font-size: 4em;
  font-weight: bolder;
  color: red;
  text-shadow: 4px 4px rgb(0 0 0 / 50%);
}
.banner-quote {
  color: white;
}
#banner-quote {
  font-size: 2em;
  font-family: cursive ;
}
#banner-instructor {
  font-size: 1em;
  font: arial;
}
.nav-bar {
  background-color: gray;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: white;
}
.nav-tabs {
  border-bottom: 0;
}
.content-box {
  border: 1px solid black;
  padding: 15px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.content-box-nb {
  padding: 5px;
  margin: 5px;
}
.find-friends {
  padding: 20px;
  margin: 20px;
}
.follow-box {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
.unfollow-user {
  border: none;
  background-color: white;
}
.metrics-box {
  border: 1px solid black;
  padding:10px;
  margin: 10px;
}
#schedule-parent-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sched-title {
  margin-bottom: 0;
}
.sched-creator {
  font-size: 12px;
  font-weight: 200;
}
.schedule-box.classes {
  border: 2px solid green;
  padding: 0px 15px 0px 15px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
#sched-type-classes {
  background-color: green;
  color: white;
  font-variant: small-caps;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.sched-buttons-classes {
  background-color: green;
  border-radius: 5px 5px 0px 0px;
  color: white;
}
.sched-buttons-classes button{
  background-color: green;
  color: white;
  border: none;
}
.schedule-box.template {
  border: 2px solid goldenrod;
  padding: 0px 15px 0px 15px;
  margin: 25px;
  border-radius: 30px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
#sched-type-template {
  background-color: goldenrod;
  color: white;
  font-variant: small-caps;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.sched-content {
  margin-top: 10px
}
.sched-buttons-template {
  background-color: goldenrod;
  border-radius: 5px 5px 0px 0px;
  color: white;
}
.sched-buttons-template button{
  background-color: goldenrod;
  color: white;
  border: none;
}
.fc-list-event-time {
  display: none;
}
.modal-body {
  text-align: center;
}
.btn-sm {
  margin: .125rem;
}
.modal-up {
  border-color: white;
  font-size: 1rem;
}
.modal-down {
  border-color: white;
  font-size: 1rem;
}
.fc-h-event .fc-event-title {
  font-size: 11px;
}