<!doctype html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width' >
    
    <!-- Your custom styles -->
    <link rel="stylesheet" href="/static/mystyles.css">
    
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class='flash-msg'>
        {{ msg }}
      </p>
    {% endfor %}
    
    {% block body %}{% endblock %}
  </body>
</html>