{% extends 'base.html' %}

{% block title %}Disciplines{% endblock %}

{% block body %}
<div class='row'>
  <h1>What kind of workout?</h1>
</div>
<div class='row align-items-center'>
  <div class='col-4 offset-1'>
    <div class='d-grid gap-2 col-6 mx-auto'>
      <button class='btn btn-primary strength' type='button' value='strength'>Strength</button>
      <button class='btn btn-primary yoga' type='button' value='yoga'>Yoga</button>
      <button class='btn btn-primary meditation' type='button' value='meditation'>Meditation</button>
      <button class='btn btn-primary stretching ' type='button' value='stretching'>Stretching</button>
      <button class='btn btn-primary cardio' type='button' value='cardio'>Cardio</button>
      <button class='btn btn-primary cycling' type='button' value='cycling'>Cycling</button>
      <button class='btn btn-primary bc_bike' type='button' value='bike_bootcamp'>Bike Bootcamp</button>
      <!-- <button class='btn btn-primary rowing' type='button' value='caesar'>Rowing</button> -->
      <button class='btn btn-primary outdoor' type='button' value='outdoor'>Outdoor</button>
      <button class='btn btn-primary running' type='button' value='running'>Running</button>
      <button class='btn btn-primary walking' type='button' value='walking'>Walking</button>
      <button class='btn btn-primary bc_tread' type='button' value='tread_bootcamp'>Tread Bootcamp</button>
      <!-- <button class='btn btn-primary bc_row' type='button' value='caesar_bootcamp'>Row Bootcamp</button> -->
    </div>
  </div>
  <div class='col-6'>
    <input type='text'  id='workout-date' value={{ workout_date }}><br><br>
    <input type='submit' id='add-discipline' value='Save a generic workout to PeloPlan' disabled><br><br>
    <input type='submit' id='select-workout' value='Pick a specific Peloton workout' disabled>
  </div>
</div>

{% endblock %}

{% block js %}
<script src='/static/js/app.js'></script>

{% endblock %}