{% extends 'base.html' %}

{% block header %}
<script src='https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js'></script>
{% endblock %}

{% block title %}Metrics{% endblock %}

{% block variables %}
<input type='hidden' id='metrics-date' value={{ date }}>
<input type='hidden' id='metrics-measure' value={{ measure }}>
{% endblock %}

{% block body %}

<div class='row'>
  <div class='column'>
    <h2>Workout metrics</h2>
  </div> 
</div>
<div class='row justify-content-center' >
  <div class='col-6 metrics-box'>
    <div class='row justify-content-center'>
      <div class='col-5'>
        <h5>Select Month</h5>
        <input type='month' class='metrics-filter' id='filter-metrics-date' value={{ date }}>
      </div>
      <div class='col-5'>
        <h5>Select Measure</h5>
        <select class='metrics-filter' id='filter-metrics-measure'>
          <option id='option-duration'  value='duration'>Minutes</option>
          <option id='option-count' value='count'>Class Count</option>
        </select>
      </div> 
    </div> 
  </div>
</div> 
<div class='row justify-content-center'>
  <div class='col-5'>
    <div class='row'>
      <h2>Workout By Discipline</h2>
      <div class='chart-container' >
        <canvas id='pie-disciplines'></canvas>
      </div>
    </div>
  </div>
  <div class='col-6'>
    <h2>Workout By Instructor</h2>
    <div class='chart-container'>
      <canvas id='bar-instructors'></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src='/static/js/metrics.js'></script>

{% endblock %}