{% extends 'base.html' %}

{% block header %}
<script src='https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js'></script>
{% endblock %}

{% block title %}Outputs{% endblock %}

{% block variables %}{% endblock %}

{% block body %}

<div class='row'>
  <div class='column'>
    <h2 class='output-title'>Cycling Outputs Over Time</h2>
  </div> 
</div>
<div>
  <canvas id='graph-outputs'></canvas>
</div>
{% endblock %}

{% block js %}
<script src='/static/js/outputs.js'></script>

{% endblock %}  