{% extends 'base.html' %}

{% block header %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.js'></script>
<!-- <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/main.min.css' rel='stylesheet'></link> -->
{% endblock %}

{% block title %}PeloPlan{% endblock %}

{% block body %}

<div class='row align-items-center'>
  <div class='col-1'></div>
  <div class='col-9'>
    <div id='calendar'></div>
  </div>
  <div class='col-2' id='discipline-selection'> <!--align-items-center?--> 
    <div class='d-grid gap-2 col-6 mx-auto'>
      What kind of workout?
      <button class='btn btn-primary strength' type='button'>Strength</button>
      <button class='btn btn-primary yoga' type='button'>Yoga</button>
      <button class='btn btn-primary meditation' type='button'>Meditation</button>
      <button class='btn btn-primary cardio' type='button'>Cardio</button>
      <button class='btn btn-primary stretching' type='button'>Stretching</button>
      <button class='btn btn-primary cycling' type='button'>Cycling</button>
      <!-- <button class='btn btn-primary rowing' type='button'>Rowing</button> -->
      <button class='btn btn-primary outdoor' type='button'>Outdoor</button>
      <button class='btn btn-primary running' type='button'>Running</button>
      <button class='btn btn-primary walking' type='button'>Walking</button>
      <button class='btn btn-primary bc_tread' type='button'>Tread Bootcamp</button>
      <button class='btn btn-primary bd_bike' type='button'>Bike Bootcamp</button>
      <!-- <button class='btn btn-primary bc_row' type='button'>Row Bootcamp</button> -->
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src='/static/js/calendar.js'></script>



{% endblock %}