{% extends 'base.html' %}

{% block title %}PeloPlan{% endblock %}

{% block body %}

<div class='row justify-content-center'>
  <div class='col-4 offset-2 login-box'>
    <div class='row login-header'>
      <h2>Peloton Log In</h2>
      <br>
    </div>
    <form action='/peloton-login' method='POST'>
      <div class='row'>
        <div class='col-6' align='right'>
          <p>Peloton Username: </p>
        </div>
        <div class='col-6' align='left'>
          <input type='text' name='peloton_username' required>
        </div>
      </div>
      <div class='row'>
        <div class='col-6' align='right'>
          <p>Peloton Password: </p>
        </div>
        <div class='col-6' align='left'>
          <input type='password' name='peloton_password' required></p>
        </div>
      </div>
      <div class='row login-submit'>
        <p><input type='submit'></p>
      </div>
      <div class='row peloton-blurb'>
        <p>Please note: since your Peloton password is not saved, <br>
          you may be required to periodically re-login to Peloton.</p>
       <p>Load time will depend on the time since your last login.</p>
      </div>
    </form>
  </div>
</div>


  
{% endblock %}