{% extends 'base.html' %}

{% block header %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.js'></script>
<!-- <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/main.min.css' rel='stylesheet'></link> -->
{% endblock %}

{% block title %} {{ user_fname }}'sPeloPlan{% endblock %}

{% block body %}

<div class='row'>
  <div class='col-1'></div>
  <div class='col-10'>
    <br>
    <div id='calendar'></div>
  </div>
</div>
<div>
  <input type='text'  id='initial-date' value={{ initial_date }}>
</div>
{% endblock %}

{% block js %}
<script src='/static/js/calendar-weekly.js'></script>



{% endblock %}