{% extends 'base.html' %}

{% block title %}PeloPlan{% endblock %}

{% block body %}

<div class='row'>
  <div class='col-6 text-center'>
    <h2>Peloton Log In</h2>
    <br>
    <br>
    <form action='/peloton-login' method='POST'>
      <p>Peloton Username <input type='text' name='peloton_username' required></p>
      <p>Peloton Password <input type='password' name='peloton_password' required></p>
      <p><input type='submit'></p>
      <br>
      <p>Please note, your Peloton password will never be saved. <br>
         You may be required to periodically log in to Peloton.</p>
      <p>Load time will depend on the time since your last login.</p>
    </form>
  </div>
</div>


  
{% endblock %}