{% extends 'base.html' %}

{% block header %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.js'></script>
<!-- <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/main.min.css' rel='stylesheet'></link> -->
{% endblock %}

{% block title %} {{ user_fname }}'s PeloPlan{% endblock %}

{% block variables %}
<input type='hidden' id='initial-date' value={{ initial_date }}>
<input type='hidden' id='modal-workout-date'>
<input type='hidden' id='modal-workout-order'>
<input type='hidden' id='modal-discipline'>
<input type='hidden' id='modal-sched-id'>
<input type='hidden' id='modal-url'>
<!-- <input type='hidden' id='calendar-start'>
<input type='hidden' id='calendar-end'> -->
{% endblock %}

{% block body %}
<!-- Calendar -->
<div class='row'>
  <div class='column'>
    <br>
    <div id='calendar'></div>
  </div> 
</div>

<!-- Disciplines Modal -->
<div class='modal fade' id='disciplines-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-lg modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='disciplines-modal-title'>Select Discipline</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body '>
        <div class='row align-items-center'>
          <div class='col-6'>
            <div class='d-grid gap-2 col-6 mx-auto disciplines'>
              <button class='btn btn-primary strength' type='button' value='strength'>Strength</button>
              <button class='btn btn-primary yoga' type='button' value='yoga'>Yoga</button>
              <button class='btn btn-primary running' type='button' value='running'>Running</button>
              <button class='btn btn-primary walking' type='button' value='walking'>Walking</button>
              <button class='btn btn-primary bc_tread' type='button' value='bootcamp'>Tread Bootcamp</button>
              <button class='btn btn-primary meditation' type='button' value='meditation'>Meditation</button>
              <button class='btn btn-primary stretching ' type='button' value='stretching'>Stretching</button>
              <button class='btn btn-primary cardio' type='button' value='cardio'>Cardio</button>
              <button class='btn btn-primary cycling' type='button' value='cycling'>Cycling</button>
              <button class='btn btn-primary bc_bike' type='button' value='bike_bootcamp'>Bike Bootcamp</button>
              <button class='btn btn-primary rowing' type='button' value='caesar'>Rowing</button>
              <button class='btn btn-primary bc_row' type='button' value='caesar_bootcamp'>Row Bootcamp</button>
              <!-- <button class='btn btn-primary outdoor' type='button' value='outdoor'>Outdoor</button> -->
            </div>
          </div>
          <div class='col-1'>
            <input type='submit' id='add-discipline' value='Save a generic workout to PeloPlan' disabled><br><br>
            <input type='submit' id='select-workout' value='Pick a specific Peloton workout' disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Generic Workout Modal -->
<div class='modal fade' id='generic-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-sm modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='generic-modal-title'>Workout</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <button type='button' class='modal-up btn btn-outline-secondary btn-sm' title='Move Up'>
          <i class="bi bi-arrow-up-circle"></i>
        </button><br>
        <button type='button' id='gen-select-class' class='btn btn-outline-success btn-sm'>Select Class</button><br>
        <button type='button' class='modal-delete btn btn-outline-dark btn-sm'>Delete</button><br>
        <button type='button' class='modal-down btn btn-outline-secondary btn-sm' title='Move Down'>
          <i class="bi bi-arrow-down-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Specific Workout Modal -->
<div class='modal fade' id='specific-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-sm modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='specific-modal-title'>Workout</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <button type='button' class='modal-up btn btn-outline-secondary btn-sm' title='Move Up'>
          <i class="bi bi-arrow-up-circle"></i>
        </button><br>
        <button type='button' class='btn btn-outline-danger btn-sm' id='spec-stack-add'>Add to Stack</button><br>
        <button type='button' class='btn btn-outline-primary btn-sm' id='spec-change'>Change Workout</button><br>
        <button type='button' class='modal-delete btn btn-outline-dark btn-sm'>Delete</button><br>
        <button type='button' class='modal-down btn btn-outline-secondary btn-sm' title='Move Down'>
          <i class="bi bi-arrow-down-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Save Schedule Modal -->
<div class='modal fade' id='save-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='save-modal-title'>Save Schedule</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body '>
        <div class='row align-items-center'>
          <div class='column'>
            <form id='save-sched-form'>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Schedule Name: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='text' id='save-sched-name' required>
                </div>
              </div>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Start Date: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='date' id='save-start-date' required>
                </div>
              </div>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>End Date: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='date' id='save-end-date' required></p>
                </div>
              </div>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Save Type: </p>
                </div>
                <div class='col-7' align='left'>
                  <select id='save-type'>
                    <option value='generic'>Generic Template</option>
                    <option value='specific'>Specific Schedule</option>
                  </select>
                </div>
              </div>
              <div class='modal-footer'>
                <p><input type='submit' id='save-schedule' value='Save Schedule'></p>
              </div>
              <!-- <div>
                <p>Select 'Specific Schedule' to save selected classes.</p>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Load Schedule Modal -->
<div class='modal fade' id='load-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='load-modal-title'>Load Schedule</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body '>
        <div class='row align-items-center'>
          <div class='column'>
            <form id='load-sched-form'>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Select Schedule: </p>
                </div>
                <div class='col-7' align='left'>
                  <select name='schedules' id='load-storage-id' required>
                    <option value=''>Select</option>
                    {% for schedule in schedules %}
                    <option value={{ schedule.storage_id }}>{{ schedule.sched_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- <div class='row'>
                <span id='load-description'></span>
              </div> -->
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Start Date: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='date' id='load-start-date' required>
                </div>
              </div>
              <div class='modal-footer'>
                <p><input type='submit' id='load-schedule' value='Load Schedule'></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Range Modal -->
<div class='modal fade' id='delete-range-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='delete-range-modal-title'>Delete All Workouts In Range</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body '>
        <div class='row align-items-center'>
          <div class='column'>
            <form id='delete-range-sched-form'>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Start Date: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='date' id='delete-start-date' required>
                </div>
              </div>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>End Date: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='date' id='delete-end-date' required></p>
                </div>
              </div>
              </div>
              <div class='modal-footer'>
                <p><input type='submit' id='delete-range' value='Delete All Workouts'></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src='/static/js/calendar.js'></script>
<script src='/static/js/app.js'></script>
{% endblock %}