{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block title %}Schedules{% endblock %}

{% block variables %}
<input type='hidden' id='modal-storage-id'>
{% endblock %}

{% block body %}
<div class='row schedules-title'>
  <h1>My Saved Schedules</h1>
</div>
<div class='row'>
  <div id='schedule-parent-box'>
    {% for schedule in schedules %}
      {% if schedule.sched_type == 'specific' %}
      <div class='col-3 schedule-box classes'>
        <div class='row justify-content-center'>
          <div class='col-4' id='sched-type-classes'>
            CLASSES
          </div>  
        </div>
        <div class='row sched-content'>
          <div class='col-9'>
            <h4 class='sched-title' id='name-{{ schedule.storage_id }}'>{{ schedule.sched_name }}</h4>
            <p class='sched-desc'>"{{ schedule.description }}"</p>
            <br/>
          </div>
          <div class='col-3'>
            <div class='row sched-details'>
              <span class='sched-details-classes'>{{ schedule.count }}</span><br/>
              <span class='sched-details-sm'>workouts</span><br/>
              <span class='sched-details-classes'>{{ schedule.length }}</span><br/>
              <span class='sched-details-sm'>day(s)</span>
            </div>
          </div>
        </div>
        <div class='row my-sched-button-box'>
          <div class='column sched-buttons-classes'>
            <button class='sched-preview' value={{ schedule.storage_id }}>
              <i class="bi bi-zoom-in"></i></button>
            <button class='sched-load' value={{ schedule.storage_id }}>
              <i class="bi bi-calendar-week"></i></button>
            <button class='sched-delete' value={{ schedule.storage_id }}>
              <i class="bi bi-trash3"></i></button>
          </div>
        </div>
      </div>
      {% endif %}
      {% if schedule.sched_type == 'generic' %}
      <div class='col-3 schedule-box template'>
        <div class='row justify-content-center'>
          <div class='col-4' id='sched-type-template'>
            TEMPLATE
          </div>  
        </div>
        <div class='row sched-content'>
          <div class='col-9'>
            <h4 class='sched-title' id='name-{{ schedule.storage_id }}'>{{ schedule.sched_name }}</h4>
            <p class='sched-desc'>"{{ schedule.description }}"</p>
            <br/>
          </div>
          <div class='col-3'>
            <div class='row sched-details'>
              <span class='sched-details-template'>{{ schedule.count }}</span><br/>
              <span class='sched-details-sm'>workouts</span><br/>
              <span class='sched-details-template'>{{ schedule.length }}</span><br/>
              <span class='sched-details-sm'>day(s)</span>
            </div>
          </div>
        </div>
        <div class='row my-sched-button-box'>
          <div class='column sched-buttons-template'>
            <button class='sched-preview' value={{ schedule.storage_id }}>
              <i class="bi bi-zoom-in"></i></button>
            <button class='sched-load' value={{ schedule.storage_id }}>
              <i class="bi bi-calendar-week"></i></button>
            <button class='sched-delete' value={{ schedule.storage_id }}>
              <i class="bi bi-trash3"></i></button>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Load Schedule Modal -->
<div class='modal fade' id='load-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5'>Load Schedule</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body '>
        <div class='row align-items-center'>
          <div class='column'>
            <form id='load-sched-form'>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Select Schedule: </p>
                </div>
                <div class='col-7' align='left'>
                  <span id='load-modal-title' data-id=''>Title</span>
                </div>
              </div>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Start Date: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='date' id='load-start-date' required>
                </div>
              </div>
              <div class='modal-footer'>
                <p><input type='submit' id='load-schedule' class='rb' value='Load Schedule'></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Schedule Modal -->
<div class='modal fade' id='delete-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5'>Delete Schedule</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body '>
        <div class='row align-items-center'>
          <div class='column'>
            <form id='delete-sched-form'>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Select Schedule: </p>
                </div>
                <div class='col-7' align='left'>
                  <span id='delete-modal-title' data-id=''>Title</span>
                </div>
              </div>
              <div class='modal-footer'>
                <p><input type='submit' id='delete-schedule' class='rb' value='Confirm Delete'></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src='/static/js/schedules.js'></script>

{% endblock %}