{% extends 'base.html' %}

{% block header %}
<!-- React -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
{% endblock %}

{% block title %}Schedules{% endblock %}

{% block variables %}{% endblock %}

{% block body %}
<div class='row' align='left'>
  <h1>Public Schedules</h1>
</div>
<div class='row align-items-left' id='schedule-cards'>
  <div id='root'></div>
</div>

<!-- Load Schedule Modal -->
<div class='modal fade' id='load-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5'>Load Schedule</h1>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body '>
        <div class='row align-items-center'>
          <div class='column'>
            <form id='load-sched-form'>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Select Schedule: </p>
                </div>
                <div class='col-7' align='left'>
                  <span id='load-modal-title' data-id=''>Title</span>
                </div>
              </div>
              <div class='row'>
                <div class='col-5' align='right'>
                  <p>Start Date: </p>
                </div>
                <div class='col-7' align='left'>
                  <input type='date' id='load-start-date' required>
                </div>
              </div>
              <div class='modal-footer'>
                <p><input type='submit' id='load-schedule' value='Load Schedule'></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script type='text/jsx' src='/static/js/schedules-public.jsx'></script>
{% endblock %}