{% extends 'base.html' %}

{% block title %}Workouts{% endblock %}

{% block variables %}
<input type='hidden' id='workout-date' value={{ workout_date }}>
<input type='hidden' id='sched-order' value={{ sched_order }}>
<input type='hidden' id='filter-discipline' value={{ discipline }}>
<input type='hidden' id='filter-page' value={{ results.page }}>
<input type='hidden' id='filter-page-max' value={{ results.page_count }}>
{% endblock %}

{% block body %}
<div class='row'>
  <!-- Filters -->
  <div class='col-2 filter-bar'>
    <div id='filters-box'>
      <h2>Filters</h2>
      <form>
        <div class='workout-filters'>
          Class Length:<br>
          <select name='duration' id='filter-duration'>
            <option value=''></option>
            <option value='300'>5 minutes</option>
            <option value='600'>10 minutes</option>
            <option value='900'>15 minutes</option>
            <option value='1200'>20 minutes</option>
            <option value='1800'>30 minutes</option>
            <option value='2700'>45 minutes</option>
            <option value='3600'>60 minutes</option>
            <option value='4500'>75 minutes</option>
            <option value='5400'>90 minutes</option>
            <option value='7200'>120 minutes</option>
          </select>
        </div>
        <div class='workout-filters'>
          Instructor:<br>
          <select name='instructor' id='filter-instructor'>
            <option value=''></option>
            {% for instructor in instructors %}
            <option value={{ instructors[instructor] }}>{{ instructor }}</option>
            {% endfor %}
          </select>
        </div>
        <div class='workout-filters'>
          Category:<br>
          <select name='category' id='filter-category'>
            <option value=''></option>
            {% for category in categories %}
            <option value={{ categories[category] }}>{{ category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class='workout-filters'>
          Bookmarked? <input type='checkbox' id='filter-bookmarked'> 
        </div>
        <div class='workout-filters'>
          Already Taken? <input type='checkbox' id='filter-completed'> 
        </div>
        <!-- <div>
          <br>Keywords: <br> 
          <input type='text' name='keywords'>
        </div> -->
        <div class='workout-filters'>
          Sort By:<br>
          <select name='duration' id='filter-sortby'>
            <option value='original_air_time'>Newest</option>
            <option value='oldest'>Oldest</option>
            <option value='top_rated'>Top Rated</option>
            <option value='popularity'>Most Popular</option>
            <!-- <option value='trending'>Trending</option> -->
            <option value='difficulty'>Hardest</option>
            <option value='easiest'>Easiest</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <!-- Search Results -->
  <div class='col-10 outer-scroll'>
    <div>
      <div id='query-results'>
        {% for result in results['data'] %}
        <div class='row workout-box'>
          <div class='col-4 workout-image'>
            <img src="{{ result['image_url'] }}" width=300px>
            {% if result['is_favorite'] == true and result['total_user_workouts'] > 0 %}
              <div class='workout-icon'><i class="bi bi-bookmark-check-fill"></i></div>
            {% elif result['is_favorite'] == true %}
              <div class='workout-icon'><i class="bi bi-bookmark-fill"></i></div>
            {% elif result['total_user_workouts'] > 0 %}
              <div class='workout-icon'><i class="bi bi-bookmark-check"></i></div>
            {% else %}
              <div class='workout-icon'><i class="bi bi-bookmark"></i></div>
            {% endif %}
          </div>
          <div class='col-5 workout-details'>
            <div class='row workout-header'>
              <span id='workout-title'>{{ result['title'] }}</span><br/>
              {% for instructor in results['instructors'] %}
                {% if instructor['id'] == result['instructor_id'] %}
                  <span id='workout-inst'>{{ instructor['name'] }} - {{ result['original_air_time']|strftime }}</span><br/>
                {% endif %}
              {% endfor %}
            </div>
            <span id='workout-desc'>{{ result['description'] }}</span><br/>
          </div>
          <div class='col-2 workout-stats'>
            <span class='workout-stat'>{{ '{:,}'.format(result['total_workouts']) }}</span><br/>
            <span class='workout-text'>members</span><br/>
            <span class='workout-stat'>{{'%.1f' | format(result['overall_rating_avg']*100) }}% </span>
            <span class='workout-text-sm'>/{{ result['overall_rating_count'] }}</span><br/>
            <span class='workout-text'>rating</span><br/>
            <span class='workout-stat'>{{ '%.2f' | format(result['difficulty_rating_avg']) }}</span>
            <span class='workout-text-sm'>/{{ result['difficulty_rating_count'] }}</span><br/>
            <span class='workout-text'>difficulty</span><br/>
          </div>
          <div class='col-1'>
            <button class='add-workout' title='Add Workout' value="{{ result['id'] }}">
              <i class="bi bi-calendar-week"></i>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class='row justify-content-center'>
        <div class='col-2'>
          <button class='change-page' id='prev-page' value=-1 disabled><i class="bi bi-chevron-double-left"></i></button>
        </div>
        <div class='col-2'>
          <button class='change-page' id='next-page' value=1><i class="bi bi-chevron-double-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src='/static/js/workouts.js'></script>
{% endblock %}